* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #121212;
}

nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}
